<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieTicketApp"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Movie.EditMovieActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.Cinema.CinemaLocationActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieTicketApp.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLVRBV69nurSKIEg0tU1k65es6uT82RFs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".Activity.Notification.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.Notification.EditNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.City.CityViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.City.CinemaOfCity"
            android:exported="false" />
        <activity
            android:name=".Activity.City.AddCityActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Cinema.AddCinemaActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Notification.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Report.ReportActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity android:name=".Activity.Discount.DiscountViewAll" />
        <activity
            android:name=".Activity.Booking.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ConfirmDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Ticket.Service.AddService"
            android:exported="false" />
        <activity
            android:name=".Activity.Movie.SearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name=".Activity.Movie.ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Booking.ShowTimeScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Discount.AddDiscount"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.HelpCentreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Wallet.SuccessTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Wallet.TopUpActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Booking.CheckoutWalletEnoughActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Booking.SuccessCheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Movie.AddMovieActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Account.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieProject.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.Ticket.Service.ServiceViewAll"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Booking.BookSeatActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Booking.BookedActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieProject.Main" />
        <activity
            android:name=".Activity.Account.OnboardingActivity"
            android:exported="false" />
        <activity android:name=".Activity.Account.SignUpActivity"
            android:theme="@style/Theme.MovieProject.Main"/>
        <activity
            android:name=".Activity.Account.SignInActivity"
            android:theme="@style/Theme.MovieProject.Main"
            />


        <activity
            android:name=".Activity.Movie.InformationFilmActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Account.ConfirmationProfileActivity"
            android:noHistory="true" />
        <activity android:name=".Activity.Account.UserProflingActivity" />
        <activity android:name=".Activity.Ticket.TicketDetailActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
           />
        <activity android:name=".Activity.Wallet.MyWalletActivity" />
        <activity android:name=".Activity.Ticket.MyTicketAllActivity" />
    </application>

</manifest>